---
import Header from '../../components/po/Header';
import OrdersListPage from '../../components/po/OrdersListPage';
---
<html lang="th">
  <body class="min-h-screen bg-gradient-to-br from-slate-50 via-white to-slate-100">
    <Header client:load />
    <OrdersListPage client:load />
  </body>
</html>
