---
layout: '../../layouts/MainLayout.astro'
import Header from '../../components/po/Header';
import NotificationsPage from '../../components/po/NotificationsPage';
---

<html lang="th">
  <body class="min-h-screen bg-gradient-to-br from-slate-50 via-white to-slate-50">
    <Header client:load />
    <NotificationsPage client:load />
  </body>
</html>
